
@import "tailwindcss";

:root {
  --foreground: #171717;
  --background-gradient: linear-gradient(120deg, hsl(0, 33%, 99%) 0%, #ebedee 100%);
}

@layer base {
  body {
    background-image: var(--background-gradient);
    background-color: #ffffff;
    color: var(--foreground);
  }
}

@theme inline {
  --font-main: var(--font-heading)
}
